.app-goout-page {
    padding: 0 50px;

    .in-process-out-desc, .completed-out-desc, .new-out-desc {
        font-size: gray;
        font-size: 12px;
        line-height: 20px;
    }

    .page-tabset {
        margin-top:  20px;
    }

    .new-out {
        text-align: center;
    }

    .out-record {
        position: relative;
        .delete-button-div {
            position: absolute;
            right: 120px;
            bottom: 0px;
        }
    }
}