<div class="app-goout-page">

  <nz-tabset class="page-tabset">
    <nz-tab nzTitle="进行新的外出申请">
      <p class="new-out-desc">填写信息进行新的外出申请</p>
      <div class="new-out">
        <app-new-out></app-new-out>
      </div>
    </nz-tab>
  </nz-tabset>

  <nz-tabset class="page-tabset">
    <nz-tab nzTitle="正在进行中的外出申请">
      <p class="in-process-out-desc">显示当前用户未完成的外出申请</p>
      <div class="in-process-out" *ngIf="hasUncompletedOut">
        <div *ngFor="let out of uncompletedOuts">
          <div class="out-record">
            <app-goout-page-card class="goout-page-card" [out]="out"></app-goout-page-card>
            <div class="delete-button-div">
              <button nz-button nzType="primary" class="delete-button" (click)="delete(out)">删除</button>
            </div>
          </div>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>

  <nz-tabset class="page-tabset">
    <nz-tab nzTitle="已经完成的外出申请">
      <p class="completed-out-desc">显示当前用户已经完成的外出申请</p>
      <div class="completed-out">
        <div *ngFor="let out of completedOuts">
          <app-goout-page-card class="goout-page-card" [out]="out"></app-goout-page-card>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>

</div>