<div class="app-approve-page">
  <nz-tabset class="page-tabset">
    <nz-tab nzTitle="等待审批的外出">
      <p class="approve-in-process-desc">显示所有人等待审批的外出申请</p>
      <div class="in-process-out" *ngIf="hasUncompletedApprovelOut">
        <div nz-row nzGutter="16">
          <div nz-col nzSpan="24" *ngFor="let out of unCompletedApproveOut; let index = index" class="out-lise">
            <div (mouseover)="mouseHover('out-approve-button' ,index)" (mouseout)="mouseDown('out-approve-button', index)"
              class="card-mouse-event-div">
              <app-goout-page-card class="approval-go-out-card" [out]="out"></app-goout-page-card>
              <div class="out-approve-button">
                <button nz-button nzType="primary" class="approve-button" (click)="showLayer('out', out, 'approve')">通过</button>
                <button nz-button nzType="primary" class="reject-button" (click)="showLayer('out', out, 'reject')">驳回</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>

  <nz-tabset class="page-tabset">
    <nz-tab nzTitle="等待审批的请假">
      <p class="approve-in-process-desc">显示等待审批所有人的请假</p>
      <div class="in-process-out" *ngIf="hasUncompletedApprovelLeave">
        <div nz-row nzGutter="16">
          <div nz-col nzSpan="24" *ngFor="let leave of unCompletedApproveLeave; let index = index" class="leave-list">
            <div (mouseover)="mouseHover('leave-approve-button', index)" (mouseout)="mouseDown('leave-approve-button', index)"
              class="card-mouse-event-div">
              <app-goout-page-card class="approval-leave-card leave-list-item" [out]="leave"></app-goout-page-card>
              <div class="leave-approve-button">
                <button nz-button nzType="primary" class="approve-button" (click)="showLayer('leave', leave, 'approve')">通过</button>
                <button nz-button nzType="primary" class="reject-button" (click)="showLayer('leave', leave, 'reject')">驳回</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>

  <nz-tabset class="page-tabset">
    <nz-tab nzTitle="审批过的外出">
      <p class="approve-completed-desc">显示已经审批过的外出申请</p>
      <div class="completed">
        <div nz-row nzGutter="16">
          <div nz-col nzspan="24" *ngFor="let out of completedApprovedOut">
            <app-goout-page-card class="approval-go-out-page-card" [out]="out"></app-goout-page-card>
          </div>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>

  <nz-tabset class="page-tabset">
    <nz-tab nzTitle="审批过的请假">
      <p class="approve-completed-desc">显示已经审批过的请假申请</p>
      <div class="completed">
        <div nz-row nzGutter="16">
          <div nz-col nzspan="24" *ngFor="let leave of completedApprovedLeave">
            <app-goout-page-card class="approval-go-out-page-card" [out]="leave"></app-goout-page-card>
          </div>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>

  <!-- layer -->
  <nz-modal [(nzVisible)]="isVisible" nzTitle="填写审批回复" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
    [nzOkLoading]="isLoading">
    <textarea nz-input placeholder="审批回复" [(ngModel)]="reply" [nzAutosize]="{minRows: 2}"></textarea>
  </nz-modal>

</div>