.app-approve-page {
  padding: 0 50px;

  .approve-in-process-desc, .approve-completed-desc  {
    color: gray;
    font-size: 12px;
    line-height: 20px;
  }

  .page-tabset {
    margin-top:  20px;
  }

  .new-out {
    text-align: center;
  }
}

.card-mouse-event-div {
  position: relative;
  z-index: 2;
}

.out-approve-button, .leave-approve-button {
  display: none;
}

.out-approve-button, .leave-approve-button {
  position: absolute;
  bottom: 1px;
  right: 100px;
  cursor: pointer;
  .approve-button {
    background: #5FB878;
    border-color: #5FB878;
  }

  .reject-button {
    background: #FF5722;
    border-color: #FF5722;
    margin-left: 2px;
  }
}
