<div class="app-clock">

  <nz-tabset>
    <nz-tab nzTitle="操作">
      <div class="operationTab">
        <nz-input-group>
        </nz-input-group>
        <nz-input-group nzAddOnBefore="你的心情" [nzSuffix]="suffixButton">
          <input type="text" nz-input [(ngModel)]="mood">
        </nz-input-group>
        <ng-template #suffixButton>
          <button (click)="inClock()" nz-button nzType="primary">打卡</button>
        </ng-template>
        <!-- <button (click)="outClock()" nz-button nzType="primary">下班打卡</button> -->
        <p class="operationTips">点击按钮进行打卡操作。</p>
      </div>
    </nz-tab>
  </nz-tabset>

  <nz-tabset>
    <nz-tab nzTitle="记录">
      <div class="recordTab">
        <nz-timeline nzMode="alternate">
          <nz-timeline-item *ngFor="let record of records">
            <nz-card>
              <!-- <p>你在 <span class="record-time">{{formatTime(record.time)}}</span>打卡。</p> -->
              <p>你在 <span class="record-time">{{formatTime(record.time)}}</span> 打卡。</p>
              <p>当时你的心情是<span class="record-mood">{{record.mood}}</span>。</p>
              <p class="record-late" *ngIf="record.isLate">你 <span class="record-isLate">迟到了</span>。</p>
              <p class="recrod-late" *ngIf="record.isEarly">你 <span class="record-isLate">早退了</span>。</p>
            </nz-card>
          </nz-timeline-item>
        </nz-timeline>
      </div>
    </nz-tab>
  </nz-tabset>

</div>