<ul nz-menu [nzMode]="'horizontal'" class="app-navbar">
    <li nz-menu-item nzDisabled class="app-loge">
      考勤系统
    </li>
    <li nz-menu-item>
      <a routerLink="/clock" routerLinkActive="active">打卡</a>
    </li>
    <li nz-menu-item>
      <a routerLink="/goout" routerLinkActive="active">外出申请</a>
    </li>
    <li nz-menu-item>
      <a routerLink="/leave" routerLinkActive="active">请假申请</a>
    </li>
    <li nz-menu-item>
      <a routerLink="/annual" routerLinkActive="active">年假</a>
    </li>
  <li nz-menu-item *ngIf="currentUserPosition" >
    <a routerLink="/approve" routerLinkActive="active">审批</a>
  </li>

    <li nz-menu-item *ngIf="login" class="app-username">
      <a (click)="logout()" routerLinkActive="active">注销</a>
    </li>
    <li nz-menu-item *ngIf="notLogin" class="app-username">
      <a routerLink="/login" routerLinkActive="active">登陆</a>
    </li>
</ul>
