<div class="app-leave-page">

  <nz-tabset class="page-tabset">
    <nz-tab nzTitle="进行新的请假申请">
      <p class="new-leave-desc">填写信息进行新的请假申请</p>
      <div class="new-leave">
        <app-new-leave></app-new-leave>
      </div>
    </nz-tab>
  </nz-tabset>

  <nz-tabset class="page-tabset">
    <nz-tab nzTitle="正在进行中的请假申请">
      <p class="in-process-leave-desc">显示当前用户未完成的请假申请</p>
      <div class="in-process-leave" *ngIf="hasUncompletedLeave">
        <div *ngFor="let leave of uncompletedLeaves">
          <div class="leave-item">
            <app-goout-page-card class="goout-page-card" [out]="leave"></app-goout-page-card>
            <div class="delete-button-div">
              <button nz-button nzType="primary" class="delete-button" (click)="delete(leave)">删除</button>
            </div>
          </div>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>

  <nz-tabset class="page-tabset">
    <nz-tab nzTitle="已经完成的请假申请">
      <p class="completed-leave-desc">显示当前用户已经完成的请假申请</p>
      <div class="completed-leave">
        <div *ngFor="let leave of completedLeaves">
          <app-goout-page-card class="goout-page-card" [out]="leave"></app-goout-page-card>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>

</div>