.app-leave-page {
    padding: 0 50px;

    .in-process-leave-desc, .completed-leave-desc, .new-leave-desc {
        font-size: gray;
        font-size: 12px;
        line-height: 20px;
    }

    .page-tabset {
        margin-top:  20px;
    }

    .new-leave {
        text-align: center;
    }

    .leave-item {
        position: relative;
        .delete-button-div {
            position: absolute;
            right: 120px;
            bottom: 0px;
        }
    }
}