<div class="app-container">

  <app-navbar></app-navbar>

  <div nz-row nzType="flex" nzJustify="space-around" nzAlign="top">
    <div nz-col [nzXs]="{span: 24}" [nzSm]="{span: 24}" [nzMd]="{span: 24}" [nzLg]="{span: 22}" [nzXl]="{span: 18}" [nzXXl]="{span: 14}">
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>