.out-card {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;

    .out-username {
        font-size: 20px;
        color: red;
        margin-bottom: 10px;
    }

    .out-userId {
        font-size: 10px;
        color: black;
    }

    .out-id {
        float: right;
        font-size: 12px;
    }

    // .out-reason {
    //     border-bottom: 1px solid #dddddd;
    // }

    .out-time {
        line-height: 18px;
        font-size: 14px;
        margin-bottom: 5px;
        .startTime, .endTime {
            color: #1e9fff;
        }
    }

}

.out-wait {
    border-left: 5px solid #FFB800;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    .out-state {
        transform: rotate(-45deg);
        font-size: 22px;
        position: absolute;
        right: -40px;
        top: 85px;
        background-color: #ffb800;
        padding: 0px 50px;
        color: white;
    }
}

.out-completed {
    border-left: 5px solid #5FB878;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    .out-state {
        transform: rotate(-45deg);
        font-size: 22px;
        position: absolute;
        right: -40px;
        top: 130px;
        background-color: #5fb878;
        padding: 0px 50px;
        color: white;
    }
}

.out-rejected {
    border-left: 5px solid #FF5722;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    .out-state {
        transform: rotate(-45deg);
        font-size: 22px;
        position: absolute;
        right: -40px;
        top: 130px;
        background-color: #FF5722;
        padding: 0px 50px;
        color: white;
    }
}

.ant-divider-horizontal {
    margin: 5px 0;
}