<nz-card class="out-card {{className}}">
  <p class="out-id">申请编号: {{out.id}}</p>
  <p class="out-username">{{username}} <span class="out-userId">{{out.userId}}</span></p>
  <p class="out-time"><span class="startTime">{{formatTime(out.startTime)}}</span> -- <span class="endTime">{{formatTime(out.endTime)}}</span></p>
  <p class="out-reason">原因: {{out.reason}}</p>
  <nz-divider *ngIf="out.state === 2"></nz-divider>
  <p class="out-approve-reason" *ngIf="out.state === 2">回复：{{out.approve_reason}}</p>
  <p class="out-approve-reason" *ngIf="out.state === 3">驳回理由：{{out.approve_reason}}</p>
  <p class="out-state" *ngIf="out.state === 1">待审批</p>
  <p class="out-state" *ngIf="out.state === 2">已通过</p>
  <p class="out-state" *ngIf="out.state === 3">已被拒</p>
</nz-card>